

<!-- HEADER
        ================================================== -->
        <header class="navbar-default border-bottom border-color-light-white" style="background-color: #fff;">

            <div class="navbar-default border-bottom border-color-light-white">

                <div class="top-bar bg-primary">
                    <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                <div class="top-bar-info">
                                    <ul class="ps-0">
                                        <a href="tel:+919447559999"><li><i class="ti-mobile"></i>+91 9447 559 999 </li></a>
                                        <a href="tel:+919745110000"> <li class="d-none d-sm-inline-block"><i class="ti-mobile"></i>+91 9745 110 000</li></a>
                                        <a href="mailto:pkmcargoindia@gmail.com"><li class="d-none d-sm-inline-block"><i class="ti-email"></i> pkmcargoindia@gmail.com</li></a>
                                        <a href="mailto:karippurairport@gmail.com"><li class=" d-sm-inline-block"><i class="ti-email"></i> karippurairport@gmail.com</li></a>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">
                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="/" class=""><img id="" src="img/pkm-logo.png" alt="logo" style="height: 7em;width: 7em;"/></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler bg-primary"></div>

                                    <!-- menu area -->
                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a href="/">Home</a>
                                          
                                        </li>
                                        <li>
                                            <a href="/about">About</a>
                                           
                                        </li>
                                        <li><a href="/service">Services</a>
                                           
                                        </li>
                                        <li>
                                            <a href="/projects">Gallery</a>
                                            
                                        </li>
                                        <li>
                                            <a href="/blog">Blog</a>
                                           
                                        </li>
                                        <li>
                                            <a href="/contact">contact</a>
                                           
                                        </li>
                                        <li>
                                            <a href="/booking"  data-bs-target="#modaldemo1" data-bs-toggle="modal">
                                                Book Your Cargo
                                            </a>
                                        </li>
                                        <% if(locals.user){%>
                                       <li>
                                        <a href="/user"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="blue" class="bi bi-person-circle" viewBox="0 0 16 16" >
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                          </svg> </a>
                                       </li>
                                       <li>
                                              <a href="logout"  style="color: red;">Logout</a>
                                       </li>
                                         <%}else{%>    
                                            <li>   
                                                     <a href="/login" style="color: green;">Login</a> 
                                                    </li>
                                              <%}%>
                                                     
                                                  </li>
                                                 
                                                    
                                                
                                                 
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start attribute navigation -->
                                    <div class="attr-nav align-items-xl-center ms-xl-auto main-font">
                                      
                                       
                                         
                                            
                                         

                                         
                                    </div>
                                    <!-- end attribute navigation -->
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            

        </header>
        
                      
                                    
        <!-- Addmodal -->
        <div id="modaldemo1" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="admin/cargobooking" method="POST" >
                    <div class="modal-body">
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                        </button>
                        <h5 class="tx-gray-800 mg-b-20 tx-spacing--1">Cargo Booking</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="From" name="from" id="from" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Destination" name="destination" id="destination" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="N.O of Box" name="box"  id="box"  required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="contact" name="number" id="number" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="email" name="email" id="email" >
                        </div>
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Booking Details" name="details" id="details" required></textarea>
                        </div>
                        
                       
                        <button class="btn btn-primary btn-block mt-5" type="submit">Continue</button>
                    </div>
                </form><!-- modal-body -->
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!--Add modal close -->
    



                                





