        <!-- PAGETITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 left-overlay-dark" data-overlay-dark="9" data-background="img/bg/bg-01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-animation" data-in-effect="fadeInUp">About Us</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="wow fadeInUp" data-wow-delay="400ms">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- ABOUT
        ================================================== -->
        <section>
            <div class="container position-relative z-index-9">
                <div class="row mt-n2-2 about-style1">
                    <div class="col-lg-6 mt-2-2 wow fadeIn" data-wow-delay="200ms">
                        <div class="pe-lg-7">
                            <div class="row align-items-center position-relative">
                                <div class="col-6">
                                    <div class="mb-3 image-hover">
                                        <img src="img/6.jpeg" class="img1" alt="...">
                                    </div>
                                    <div class="image-hover">
                                        <img src="img/2.jpeg" class="img2" alt="...">
                                    </div>
                                </div>
                                <div class="col-6 position-relative">
                                    <div class="position-relative">
                                        <div class="image-hover">
                                            <img src="img/3.jpeg" class="img3" alt="...">
                                        </div>
                                        
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-2-2 wow fadeIn" data-wow-delay="400ms">
                        <div>
                            <div class="section-title mb-1-9 position-relative">
                                <span class="sub-title wow text-animation" data-in-effect="fadeInRight">About us</span>
                                <h2 class="h1">Worldwide Door to Door Service</h2>
                            </div>
                            <p class="lead text-secondary mb-1-9 font-weight-500 wow fadeInUp" data-wow-delay="100ms">“Transportation and delivery through trusted,
                                transparent and professional company”.</p>
                            <div class="row mb-2-2">
                                <div class="col-sm-6">
                                    <ul class="list-style2">
                                      <li class="wow fadeInUp" data-wow-delay="200ms">Final delivery to the recipient's door.
                                    </li>
                                      <li class="wow fadeInUp" data-wow-delay="300ms">Secure and efficient transportation.
                                    </li>
                                      <li class="wow fadeInUp" data-wow-delay="400ms">Expert packing and documentation.
                                    </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-style2">
                                      <li class="wow fadeInUp" data-wow-delay="200ms">We pick up your cargo at your location.
                                    </li>
                                      <li class="wow fadeInUp" data-wow-delay="300ms">Reduced risk: Minimize handling and maximize security.</li>
                                     
                                    </ul>
                                </div>
                            </div>
                            <a href="/contact" class="butn wow fadeInUp" data-wow-delay="100ms"><span>Read More</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- COUNTER
        ================================================== -->
        <section class="pt-0">
            <div class="container">
                <div class="row mt-n1-9 text-center">
                    <div class="col-6 col-md-3 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                        <div class="position-relative z-index-9">
                            <h4 class="h1 count"><span class="countup">290</span> <sup class="display-24">+</sup></h4>
                            <p class="mb-0 font-weight-700">Countries Covered</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mt-1-9 wow fadeInUp" data-wow-delay="400ms">
                        <div class="position-relative z-index-9">
                            <h4 class="h1 count"><span class="countup">180</span> <sup class="display-24">+</sup></h4>
                            <p class="mb-0 font-weight-700">Owned Vehicles</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mt-1-9 wow fadeInUp" data-wow-delay="600ms">
                        <div class="position-relative z-index-9">
                            <h4 class="h1 count"><span class="countup">520</span> <sup class="display-24">+</sup></h4>
                            <p class="mb-0 font-weight-700">Satisfied clients</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 mt-1-9 wow fadeInUp" data-wow-delay="800ms">
                        <div class="position-relative z-index-9">
                            <h4 class="h1 count"><span class="countup">370</span> <sup class="display-24">+</sup></h4>
                            <p class="mb-0 font-weight-700">People in Team</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><br><br>


        <!-- CONTACT
        ================================================== -->
        <section class="p-0 mt-n10 bg-transparent">
            <div class="row">
                <div class="col-lg-1 col-xl-4">
                </div>
                <div class="col-lg-11 col-xl-8">
                    <div class="px-1-9 px-sm-6 px-lg-9 py-6 py-sm-8 z-index-3 bg-primary contact-block">
                        <div class="row align-items-center position-relative z-index-3">
                            <div class="col-lg-7 col-xxl-6 mb-4 mb-lg-0">
                                <h2 class="text-white mb-0">If you have any questions please feel free to contact us.</h2>
                            </div>
                            <div class="col-lg-5 col-xxl-5 offset-xxl-1">
                                <a href="/contact" class="butn secondary"><span>Contact Us</span></a>
                            </div>
                        </div>
                        <img src="img/bg/bg-03.png" class="position-absolute top-0 left-n5" alt="...">
                    </div>
                </div>
            </div>
        </section>

    

       

        <!-- PROCESS
        ================================================== -->
        <section class="pt-0">
            <div class="container">  

                <div class="section-title mb-2-3 mb-md-6 text-center wow fadeInUp" data-wow-delay="100ms">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Process</span>
                    <h2 class="h1">Our Process</h2>
                </div>      

                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style2 first">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-17.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Freight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-18.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Invoice</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-19.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Secure Payment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="process-style2 last">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="img/icons/icon-20.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Fast Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>