        <!-- PAGETITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 left-overlay-dark" data-overlay-dark="9" data-background="img/bg/bg-01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-animation" data-in-effect="fadeInUp">Contact</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="wow fadeInUp" data-wow-delay="400ms">
                            <li><a href="/">Home</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- CONTACT-FORM
        ================================================== -->
        <section class="contact-form">
            <div class="container">
                <div class="section-title mb-2-3 mb-md-6 text-center">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">Our Contact</span>
                    <h2 class="h1">Get in touch with us</h2>
                </div>
                <div class="contact-wrapper-box">
                    <div class="row">
                        <div class="col-lg-6 bg-img cover-background d-none d-lg-block image-hover" data-overlay-dark="0" data-background="img/image6.jpg"></div>
                        <div class="col-lg-6">
                            <div class="contact-form-area">
                                <h3 class="mb-1-6">Call us or fill the form</h3>
                                <form  action="admin/contactform" method="post" >


                                        <div class="row">

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Your Name <span >*</span></label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="name" type="text" name="name" placeholder="Your name here" required/>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="email">Your Email <span class="quform-required">*</span></label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="email" type="text" name="email" placeholder="Your email here" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="subject">Your Subject <span class="quform-required">*</span></label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="subject" type="text" name="subject" placeholder="Your subject here" required/>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Text input element -->
                                            <div class="col-md-6">
                                                <div class="quform-element form-group">
                                                    <label for="phone">Contact Number</label>
                                                    <div class="quform-input">
                                                        <input class="form-control" id="phone" type="number" name="number" placeholder="Your phone here" required />
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- End Text input element -->

                                            <!-- Begin Textarea element -->
                                            <div class="col-md-12">
                                                <div class="quform-element form-group">
                                                    <label for="message">Message</label>
                                                    <div class="quform-input">
                                                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Tell us a few words" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Textarea element -->

                                  

                                            <!-- Begin Submit button -->
                                            <div class="col-md-12">
                                                <div class="quform-submit-inner">
                                                    <button class="butn theme butn-md" type="submit"><span>Send Message</span></button>
                                                </div>
                                                
                                            </div>
                                            <!-- End Submit button -->

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- CONTACT-MAP
        ================================================== -->
        <section class="contact-style02 pt-0 position-relative wow fadeIn" data-wow-delay="400ms">
            <div class="container-fluid px-sm-5">
                <div class="row g-0 p-0 m-0">
                    <div class="col-md-5 col-lg-4 col-xl-3">
                        <div class="inner-container bg-secondary">
                            <ul class="info-box p-4 p-xxl-5 list-unstyled mb-0">
                                <li class="single-item wow fadeInUp" data-wow-delay="100ms">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 mt-2">
                                            <i class="fa fa-phone text-primary fs-3"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="tel:+919447559999"><span class="d-block mb-1 text-white">+91 944 7559 999</span></a>
                                            <a href="tel:+919745110000"><span class="text-white">+91 974 5110 000</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item wow fadeInUp" data-wow-delay="300ms">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 mt-2">
                                            <i class="far fa-envelope-open text-primary fs-3"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a href="mailto:pkmcargoindia@gmail.com"><span class="d-block mb-1 text-white">pkmcargoindia@gmail.com</span></a>
                                            <a href="mailto:karippurairport@gmail.com"><span class="text-white">karippurairport@gmail.com</span></a>
                                        </div>
                                    </div>
                                </li>
                                <li class="single-item wow fadeInUp" data-wow-delay="500ms">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 mt-2">
                                            <i class="fas fa-map-marker-alt text-primary fs-3"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <address class="d-block mb-0 text-white">145-A-RK Residency, Near Cargo Complex, Calicut Airport Rd, Kumminipara, Padinharathara, Karipur, Kerala 673647 </address>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9 overflow-hidden">
                        <div class="map-inner h-100">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.589812132466!2d75.94880687927912!3d11.14389613973019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64efe493f0e6b%3A0x73b72c164e66c9ee!2sP%20K%20M%20Cargo%20Forwarding%20Import%20%26%20Export!5e0!3m2!1sen!2sin!4v1696397457826!5m2!1sen!2sin" width="1000" height="390" style="border:2px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% if (successMessage2) { %>
            <script>
              // Display a JavaScript alert with the success message
              alert("<%= successMessage2 %>");
          
            </script>
        
            <%}%>