
        <!-- PAGETITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background top-position1 left-overlay-dark" data-overlay-dark="9" data-background="img/bg/bg-06.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-animation" data-in-effect="fadeInUp">Our Services</h1>
                    </div>
                    <div class="col-md-12">
                        <ul class="wow fadeInUp" data-wow-delay="400ms">
                            <li><a href="/">Home</a></li>
                            <li><a href="">Our Services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
        ================================================== -->
        <section class="position-relative">
            <div class="container position-relative z-index-9">
                <div class="section-title mb-2-3 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span class="sub-title wow text-animation" data-in-effect="fadeInRight">All Services</span>
                    <h2 class="h1">Trusted for our services</h2>
                </div>
                <div class="row mt-n1-9">
                    <% for (let i = 0; i < services.length; i++) { %>
                        <% let currentService = services[i]; %>
                        <div class="col-sm-6 col-xl-4 mt-1-9 wow fadeInUp" data-wow-delay="200ms">
                            <div class="card card-style1">
                                <div class="card-body">
                                    <span class="mb-4 d-block"><img src="<%= currentService.serviceimage %>" alt="..."></span>
                                    <h3 class="h5 mb-3 mt-2"><a href="#!"><%= currentService.servicehead %></a></h3>
                                    <p class=" mb-3 mt-2"><a href="#!"><%= currentService.servicedescription.split(' ').slice(0, 10).join(' ') %></a></p>
                                    <div class="card-info">
                                        <a href="servicedetail/<%=currentService._id%>" class="font-weight-600 text-secondary text-primary-hover">more Details<i class="fas fa-arrow-right small align-middle ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>

        