<section>
    <div class="text-center mb-5 w-95 w-md-90 w-lg-70 w-xl-60 mx-auto wow fadeIn" data-wow-delay="200ms">
        <span class="text-uppercase letter-spacing-2 font-weight-700 small mb-3 d-block">our servicess</span>
    </div>
   <% if(services){%>
    <div class="container mt-lg-3 mt-xl-0">
        <div class="row clearfix align-items-xl-center">
            <div class="col-lg-6 text-column mb-2-9 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                <div class="pe-xl-2-9">
                    <h2 class="h1 mb-4"><%=services.servicehead %></h2>
                    <p class="pb-3"><%=services.servicedescription %>.</p>
               
                   
                </div>
            </div>
            <div class="col-lg-6 position-relative wow fadeIn" data-wow-delay="400ms">
                <div class="row align-items-center ps-lg-1-9 position-relative z-index-9">
                    <div class="col-sm-7  d-sm-block">
                        <img src="<%=services.serviceimage%>" class="rounded" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

          <!-- PROCESS
        ================================================== -->
        <section class="bg-light border-bottom-radius mx-lg-7 pt-lg-22">
            <div class="container-fluid">          
                <div class="row mt-n1-9">
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style2 first">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="/img/icons/icon-17.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Freight</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="/img/icons/icon-18.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Select Invoice</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                        <div class="process-style2">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="/img/icons/icon-19.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Secure Payment</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="800ms">
                        <div class="process-style2 last">
                            <div class="process-arrow">
                                <div class="process-icon-box">
                                    <img src="/img/icons/icon-20.png" alt="...">
                                </div>
                                <div class="process-contnet">
                                    <h4 class="h5 mb-0">Fast Delivered</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</section>

<div class="portfolio2-carousel owl-carousel owl-theme">
    <div class="card card-style3">
        
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-01.jpg" alt="Portfolio thumb"></div>
        
      </div>
      <div class="card card-style3">
        
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-02.jpg" alt="Portfolio thumb"></div>
        
      </div>
      <div class="card card-style3">
        
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-03.jpg" alt="Portfolio thumb"></div>
        
      </div>
      <div class="card card-style3">
        
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-04.jpg" alt="Portfolio thumb"></div>
        
      </div>
      <div class="card card-style3">
        
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-05.jpg" alt="Portfolio thumb"></div>
        
      </div>
      <div class="card card-style3">
          <div class="card-flip-front"><img class="card-img" src="/img/portfolio/portfolio-06.jpg" alt="Portfolio thumb"></div>
        
      </div>
</div>